body {
  font-family: ProductSans-Regular;
}

.App {
  /* text-align: center; */
}

@font-face {
  font-family: ProductSans-Regular;
  src: url(./assets/fonts/ProductSans-Regular.ttf);
}

.navbar {
  /* padding: 0.5rem 1rem; */
  padding: 0 1rem;
  margin: 0;
}

.nav-brand-style {
  font-size: 14px;
  margin-top: 5px;
  margin-right: 64px;
}

.nav-logo-style {
  margin-top: 3px;
  font-weight: 400;
  color: #000;
}

.nav-item-style {
  margin-top: 3px;
  color: #778699;
  font-weight: 400;
  font-size: 14px;
  padding: 22px;
}

.nav-item-style-active {
  color: #006fd6;
  font-weight: 700;
  font-size: 14px;
  background-color: #deefff;
  margin-top: 3px;
  border-bottom: 4px solid #006fd6;
  padding: 22px;
}

.text-color {
  color: #778699;
}

.card-style {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(192, 192, 192, 0.25);
  border-radius: 6px;
  width: 258px;
  height: 129px;
  margin-left: 15px;
  margin-right: 10px;
}

.number-style {
  font-family: ProductSans-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  letter-spacing: -0.44px;
  color: #19191d;
  padding-top: 24px;
}

.number-text-style {
  font-weight: 700;
  color: #9696a0;
}

.info-style {
  margin-bottom: 40px;
}

.info {
  cursor: pointer;
}

.contact-card-style {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(192, 192, 192, 0.25);
  border-radius: 6px;
  width: 258px;
  height: 250px;
  margin-left: 15px;
  margin-right: 10px;
  padding-top: 10px;
}

.contact-header-text {
  font-family: ProductSans-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #000;
}

.contact-text {
  font-family: ProductSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #0f1a4f;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 5px;
}

.trail-style {
  width: 258px;
  height: 250px;
  margin-left: 15px;
  margin-right: 10px;
  padding-top: 10px;
  margin-top: 29px;
}

.trail-header-text {
  font-family: ProductSans-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #000;
}

.table-container {
  width: 77.3%;
  margin-left: 16px;
}

.table-style {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  box-shadow: 0px 4px 30px rgba(192, 192, 192, 0.25);
}

.table .thead-light th {
  border: none;
  color: #899198;
  background-color: #f3f6f9;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: none;
  border-bottom: 1px solid #e9ecef;
}

.checkbox-style {
  /* position: absolute;
  left: 343px; */
  margin-left: 30px;
}

.name-style {
  font-size: 14px;
  color: #25213b;
}

.location-one-style {
  margin: 0;
  color: #25213b;
}

.location-two-style {
  margin: 5px 0;
  font-size: 12px;
  color: #878592;
}

.status-style {
  border-radius: 11px;
  background-color: #f6f3ff;
  color: #8c70ff;
  text-align: center;
  width: 100px;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 5px;
}

.entries-style {
  margin: 0;
  color: #25213b;
  font-weight: 700;
  font-size: 12px;
}

.entries-icon-style {
  font-size: 6px;
  margin-right: 5px;
}

.entries-style-2 {
  margin: 5px 0;
  font-size: 12px;
  color: #878592;
}

.risk-style {
  font-size: 14px;
  color: #3ab65c;
  font-weight: 500;
}
