body {
  font-family: ProductSans-Regular;
}

.App {
  /* text-align: center; */
}

@font-face {
  font-family: ProductSans-Regular;
  src: url(./assets/fonts/ProductSans-Regular.ttf);
}

.navbar {
  /* padding: 0.5rem 1rem; */
  padding: 0 1rem;
  margin: 0;
}

.nav-brand-style {
  font-size: 14px;
  margin-top: 5px;
  margin-right: 64px;
}

.nav-logo-style {
  margin-top: 3px;
  font-weight: 400;
  color: #000;
}

.nav-item-style {
  margin-top: 3px;
  color: #778699;
  font-weight: 400;
  font-size: 14px;
  padding: 22px;
}

.nav-item-style-active {
  color: #006fd6;
  font-weight: 700;
  font-size: 14px;
  background-color: #deefff;
  margin-top: 3px;
  border-bottom: 4px solid #006fd6;
  padding: 22px;
}

.text-color {
  color: #778699;
}

.card-style {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(192, 192, 192, 0.25);
  border-radius: 6px;
  width: 258px;
  height: 129px;
  margin-left: 15px;
  margin-right: 10px;
}

.number-style {
  font-family: ProductSans-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  letter-spacing: -0.44px;
  color: #19191d;
  padding-top: 24px;
}

.number-text-style {
  font-weight: 700;
  color: #9696a0;
}

.info-style {
  margin-bottom: 40px;
}

.info {
  cursor: pointer;
}

.contact-card-style {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(192, 192, 192, 0.25);
  border-radius: 6px;
  width: 258px;
  height: 250px;
  margin-left: 15px;
  margin-right: 10px;
  padding-top: 10px;
}

.contact-header-text {
  font-family: ProductSans-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #000;
}

.contact-text {
  font-family: ProductSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #0f1a4f;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 5px;
}

.trail-style {
  width: 258px;
  height: 250px;
  margin-left: 15px;
  margin-right: 10px;
  padding-top: 10px;
}

.trail-header-text {
  font-family: ProductSans-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #000;
}
